.About {
  padding: 2rem;
  .IconBox {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    gap: 10px;
  }
  .Link {
    cursor: pointer;
  }
  .Student {
    margin-bottom: 1rem;
  }
  .Career {
    padding-left: 10px;
    .Explanation {
      padding-left: 50px;
      &::before {
        content: "■";
        position: absolute;
        top: 0;
        left: 30px;
        font-size: 90%;
      }
    }
  }
  h1 {
    font-size: 2.3em;
    font-weight: 700;
    @media screen and (max-width: 767px) {
      font-size: 2em;
    }
    @media screen and (max-width: 500px) {
      font-size: 1.8em;
    }
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.1em;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1em;
    margin-bottom: 0.8rem;
    font-weight: 700;
  }
  ul {
    margin-bottom: 3rem;
  }
  li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
    &::before {
      content: "●";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 90%;
    }
    a {
      border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    }
  }
}
